@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
    --font-family-main: "Nunito Sans", sans-serif;
    --font-family-second: "Yeseva One", sans-serif;
    
    --font-size-main: 11px;

    --color-theme: #E3B873;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: var(--font-family-main);
}

/* body * {
    box-sizing: border-box;
} */

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    font-size: 11px;
}

.header-content a {
    color: var(--color-theme);
}


.logo {
    color: var(--color-theme);
    text-transform: uppercase;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav__item {
    margin-right: 47px;
    text-transform: uppercase;
}

.header-nav__item a {
    text-decoration: none;
    color: white;
}

.header-nav__item a:hover {
    color: var(--color-theme);
}

.button {
    padding: 13px 33px;
    background: var(--color-theme);    
    box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
    border-style: solid;
    border-color: var(--color-theme);
    border-width: 1px;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: var(--font-family-main);
    font-style: italic;
    font-size: 11px;
    color: white;
    cursor: pointer;
}

.button.transparent {
    background: rgba(255, 255, 255, 0);    
    border-color: white;
    box-shadow: 0 0;
}

.hero {
    background: url('../images/image_4_3.jpg') center/cover no-repeat;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    margin-left: 134px;
    position: relative;
    z-index: 1;
}

.hero-title {
    max-width: 676px;
    color: #FFFFFF;
}

.hero-title-header {
    font-family: var(--font-family-second);
    font-size: 40px;
    font-weight: 100;
    line-height: 133%;
    text-transform: uppercase;
    margin: 0 0 19px;
}

.hero-title-text {
    font-family: var(--font-family-main);
    font-size: 22px;
    font-weight: 100;
    line-height: 164%;
    margin: 0 0 19px;
}

.hero-title span {
    color: var(--color-theme);
}

.hero-buttons {
    display: flex;
    gap: 20px
}


.proj {
    background-color: black;
}

.proj-container {
    background-color: black;
    color: white;
    padding: 107px 0 414px 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 50px;
}

.proj-descr {
    max-width: 442px;
}

.proj-header {
    font-family: var(--font-family-second);
    font-size: 27px;
    font-weight: 100;
    line-height: 138%;
    color: var(--color-theme);
    text-transform: uppercase;
    margin-bottom: 34px;
}

.proj-text {
    font-family: var(--font-family-main);
    font-size: 14px;
    font-weight: 100;
    line-height: 190%;
    margin-bottom: 42px;
}

.proj-params {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proj-param {
    margin-bottom: 34px;
}

.proj-param-name {
    font-family: var(--font-family-second);
    font-size: 18px;
    font-weight: 100;
    line-height: 138%;
    color: var(--color-theme);
    text-transform: uppercase;
    margin: 0 0 9px;
}

.proj-param-value {
    font-family: var(--font-family-main);
    font-size: 13px;
    line-height: 163%;
}

.proj-slider {
    max-width: 689px;
}

.proj-slider-image {
    background-image: url('../images/image_2_1.jpg');
    background-size: cover;
    height: 482px;
}

.proj-slider-nav {
    font-family: var(--font-family-second);
    font-size: 14px;
    list-style: none;
    display: flex;
    margin-bottom: 45px;
}

.proj-slider-nav-item {
    margin-right: 60px;
    text-transform: uppercase;
}

.proj-slider-nav-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
    padding-bottom: 10px;
}

.proj-slider-nav-item a.selected {
    color: var(--color-theme);
    border: 0;
    border-bottom: 2px solid var(--color-theme);
}

.proj-slider-nav-item a:hover {
    color: var(--color-theme);
}

.proj-param-slider {
    margin-top: 80px;
}

.proj-param-slider-nav {
    margin-top: 80px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}



.online {
    margin-top: -354px;
}

.online-container {
    max-width: 817px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-title {
    font-family: var(--font-family-second);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 13px;
    color: white;
}

.online-pict {
    width: 114px;
    height: 28px;
    background: url('../images/online_control.svg') center/cover no-repeat;
    margin-bottom: 30px;
}

.online-image {
    width: 817px;
    height: 434px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/online_control.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 63px;
}

.online-button-play {
    width: 85px;
    height: 85px;
    background: url('../images/play.svg') center/28px 28px no-repeat;
    background-color: var(--color-theme);
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.online-hr {
    background-image: url('../images/hr.svg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 55px;
    height: 2px;
    margin-bottom: 35px;
}

.online-text {
    font-family: var(--font-family-main);
    font-size: 18px;
    margin-bottom: 90px;
    text-align: center;
    line-height: 200%;
}

.online-submit {
    display: flex;
    gap: 50px;
}

.online-submit-input {
    position: relative;
    /* padding: 10px 0; */
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.online-submit-input input {
    width: 230px;
    padding: 15px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
    background: transparent;
    font-family: var(--font-family-main);
    font-size: 14px;
    color: var(--main-font-color);
}

.online-submit-input label {
    position: absolute;
    top: -15px;
    left: 0;
    color: rgba(54, 54, 54, 0.5);
    font-family: var(--font-family-main);
    font-size: 13px;
    padding: 10px 0;
}

.online-submit-button {
    height: 50px;
    width: 200px;
    font-style: normal;
    margin-bottom: 33px;
}

.real-checkbox {
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 18px;
    background: var(--color-theme);
    border: 2px solid var(--color-theme);
    border-radius: 1px;
    vertical-align: sub;
    margin-right: 5px;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../images/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: .2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}


.types {
    margin-top: 76px;
}

.types-container {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-title {
    font-family: var(--font-family-second);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.types-pict {
    width: 114px;
    height: 28px;
    background: url('../images/types.svg') center/cover no-repeat;
    margin-bottom: 30px;
}

.types-wrap {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.types-item {
    width: 392px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-item-image {
    width: 392px;
    /* height: 421px; */
}

.types-item-detail {
    width: 330px;
    margin-top: -130px;
    background-color: white;
}

.types-item-detail-title {
    font-family: var(--font-family-second);
    font-size: 18px;
    margin: 25px 0 13px 31px;
}

.types-item-detail-list {
    font-family: var(--font-family-main);
    font-size: 13px;
    color: #959595;
    margin: 0 0 20px 45px;
}

.types-item-detail-list li {
    margin: 0 0 13px;
}

.types-item-button {
    height: 54px;
    width: 228px;
    padding: 0;
    font-family: var(--font-family-second);
    font-style: normal;
    font-size: 18px;
}
